*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  background-color: hsl(0, 0%, 15%);
  color: hsl(185, 25%, 94%);
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
  display: none;
}
body::-webkit-scrollbar {
  background: hsl(0, 0%, 25%);
  width: 13px;
}
body::-webkit-scrollbar-track {
  background: hsl(0, 0%, 25%);
}
body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 40%);
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}
.start-page {
  display: flex;
  visibility: visible;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  width: 100vw;
  height: 100vh;
  transition: visibility 3s ease-in-out, height 3s ease-in-out;
  overflow: hidden;
}
.hide-start-page {
  visibility: hidden;
  height: 0;
}

.start-title {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  font-size: 4rem;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
  text-shadow: 0 0 30px hsla(188, 27%, 94%, 0.9);
}

.show-title {
  opacity: 1;
}

.start-btn {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s ease-in-out, opacity 2s ease-in-out;
}

.show-start-btn {
  visibility: visible;
  opacity: 1;
}
.start-btn button {
  width: 250px;
  height: 80px;
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.4rem;
  color: hsl(185, 25%, 94%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 0 30px hsla(188, 27%, 94%, 0.9);
}
.start-btn button:hover {
  background-color: hsl(0, 0%, 25%);
}
.start-btn button:active {
  background-color: hsl(0, 0%, 30%);
}
.main-body {
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s ease-in-out, opacity 3s ease, scale 3s ease-out;
  position: absolute;
  top: 0px;
}
.show-main-body {
  visibility: visible;
  opacity: 1;
}
#page {
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}
#page p {
  margin: 0;
}
#projectsBtn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: hsl(0, 0%, 20%);
  padding: 0;
  cursor: pointer;
  transition: width 0.4s ease;
  position: absolute;
  left: 25px;
  display: flex;
  overflow: hidden;
}
#projectsBtn:hover {
  width: 150px;
}
#wrapper {
  width: 20%;
  height: 100%;
}
#projectsBtn div.imgWrapper {
  background-color: hsl(0, 0%, 20%);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btnWrapper div.imgWrapper {
  background-color: hsl(0, 0%, 20%);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#iconCont {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 8px;
}
#btnText {
  opacity: 0;
  margin-left: 20px;
  color: hsl(185, 25%, 94%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: light;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  transition: opacity 0.2s ease, visibility 0.5s ease;
  visibility: hidden;
  margin-left: 20%;
}
#btnText.display {
  opacity: 1;
  visibility: visible;
}
#btnWrapper {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#mainImg {
  border: 2px solid hsl(35, 45%, 80%);
  border-radius: 6px;
  background-color: transparent;
  background-image: url(""); /* Chosen Image */
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: hsl(0, 1%, 39%);
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 1;
  transition: 0.15s;
}
#mainImg:hover {
  width: 43px;
  height: 43px;
}
#mainImg div {
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  transition: 0.15s;
}
#mainImg a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contactBtn2 {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#projectsWrapper {
  background-color: hsl(0, 0%, 15%);
  width: 99vw;
  height: 600px;
  border-bottom: 4px solid hsl(0, 0%, 10%);
  padding: 80px 0;
}
#skillsWrapper {
  background-color: hsl(0, 0%, 15%);
  width: 99vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
#skillsCont {
  background-color: hsl(0, 0%, 10%);
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 80px;
  border: none;
  padding: 30px;
  text-align: left;
}
#section1,
#section2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 20px;
}
#section2 {
  padding: 60px 0;
}
#section1 h1,
#section2 h1 {
  font-size: 3rem;
  text-decoration: underline;
}
#section1 p,
#section2 p {
  font-size: 1.5rem;
}
.phoneResponsive {
  display: none;
}
.compResponsive {
  display: block;
}
.projectsCont {
  background-color: hsl(0, 0%, 10%);
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 80px;
  border: none;
}
.projectImg{
  display: flex;
  flex: 1;
  height: 63%;
  background-image: url('instaRecipeImg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.projectInfo{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: center;
}
.projectInfo h1{
  margin: 0;
}
.projectsCont p{
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projectsCont a{
  color: #296aca;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 50px;
  transition: text-decoration 0.2s ease-in-out;
}
.projectsCont a:hover{
  color: #296aca;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#experienceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  background-color: hsl(0, 0%, 15%);
}
#experienceCont {
  background-color: hsl(0, 0%, 10%);
  width: 50vw;
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px;
  border-radius: 80px;
}
#experienceCont h1 {
  font-size: 3rem;
  text-decoration: underline;
}
#experienceCont p {
  font-size: 1.5rem;
}
.scroll-1::-webkit-scrollbar {
  background: hsl(0, 0%, 25%);
  height: 10px;
}
.scroll-1::-webkit-scrollbar-track {
  background: hsl(0, 0%, 25%);
}
.scroll-1::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 40%);
  border-radius: 6px;
}
.scroll-1::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}
.container * {
  padding: 0;
}
.container {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  scroll-snap-type: x mandatory;
  scroll-padding-top: 24px;
  background-color: #1a1a1a;
  overflow-y: hidden;
  height: 100%;
  align-items: center;
}
.container .card {
  flex: 0 0 80%;
  scroll-snap-align: center;
  margin-left: 90px;
  padding: 15px;
}
.container .card3 {
  flex: 0 0 80%;
  margin-left: 90px;
  margin-right: 110px;
  scroll-snap-align: center;
  padding: 20px;
}
.card h1 {
  font-size: 5rem;
}
.card3 h1 {
  font-size: 5rem;
}
.downloadBtn {
  display: inline-block;
  padding: 25px 50px;
  background-color: transparent;
  border: 3px solid hsl(185, 25%, 94%);
  text-decoration: none;
  transition: 0.3s;
  color: hsl(185, 25%, 94%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
.downloadBtn:hover {
  background-color: hsl(185, 25%, 84%);
  border-color: hsl(185, 25%, 94%);
  color: #1a1a1a;
}
header {
  margin-top: 0;
  width: calc(100vw - 13px);
  height: 75px;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  font-size: 25px;
  z-index: 100;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: height 0.4s ease;
}
.hide-header {
  height: 0;
}
.headerContent {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
header a {
  color: hsl(185, 25%, 94%);
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header h1 {
  font-size: 2.5rem;
}
.head1,
.head2,
.head3,
.head4,
.head5 {
  width: 100%;
  height: 100%;
}
.head1 {
  background-color: hsl(0, 0%, 15%);
  flex: 1.85;
}
.head2 {
  background-color: #33bbff;
  flex: 0.0287;
}
.head3 {
  background-color: hsl(200, 100%, 52%);
  flex: 0.0287;
}
.head4 {
  background-color: hsl(200, 100%, 44%);
  flex: 0.0287;
}
.head5 {
  background-color: hsl(200, 100%, 36%);
  flex: 0.075;
}
footer {
  margin-top: 0;
  width: 100vw;
  height: auto;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: hsl(0, 0%, 30%);
  font-style: italic;
}
.title {
  font-weight: bolder;
  font-size: 8rem;
  font-family: "nunito";
}

.mainCont {
  width: 100vw;
  height: 400px;
  padding: 10px;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  flex: 0;
}
.outerMost,
.outer,
.inner,
.innerMost {
  width: 0;
  height: 0;
  position: absolute;
  top: -200px;
  right: 0px;
}
.outerMost {
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 50px solid #33bbff;
  border-right: 50px solid #33bbff;
  z-index: 1;
}
.outer {
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  border-top: 40px solid hsl(200, 100%, 52%);
  border-right: 40px solid hsl(200, 100%, 52%);
  z-index: 2;
}
.inner {
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 30px solid hsl(200, 100%, 44%);
  border-right: 30px solid hsl(200, 100%, 44%);
  z-index: 3;
}
.innerMost {
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 20px solid hsl(200, 100%, 36%);
  border-right: 20px solid hsl(200, 100%, 36%);
  z-index: 4;
}
#textCont {
  display: flex;
  border-bottom: 4px solid hsl(0, 0%, 20%);
  border-top: 4px solid hsl(0, 0%, 20%);
  width: calc(100vw - 13px);
}
.text-section1,
.text-section2 {
  flex: 1;
  background-color: hsl(0, 0%, 10%);
  width: 50%;
  height: auto;
}
#aboutMeCont,
#pathwayCont {
  flex: 1;
  padding: 35px;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 10%);
}

.text-section1 {
  border-right: 2px solid hsl(0, 0%, 20%);
}

.text-section2 {
  border-left: 2px solid hsl(0, 0%, 20%);
}
.top-bar,
.bottom-bar {
  display: flex;
}
.triangle-tr,
.triangle-tl,
.triangle-br,
.triangle-bl {
  width: 100%;
  flex: 1;
  display: flex;
}
.triangle-br,
.triangle-bl {
  align-items: end;
}
.triangle-tr,
.triangle-br {
  justify-content: end;
}
.triangle-tl,
.triangle-bl {
  justify-content: start;
}
.bar-horizontal-blue,
.bar-horizontal-green,
.bar-vertical-red,
.bar-vertical-orange {
  width: 0;
  height: 0;
  position: absolute;
}
.bar-horizontal-blue {
  border-top: 30px solid #33bbff;
  border-bottom: 30px solid #33bbff;
  border-right: 8px solid #33bbff;
  border-left: 8px solid #33bbff;
  z-index: 2;
}
.bar-vertical-red {
  border-top: 8px solid hsl(200, 100%, 36%);
  border-bottom: 8px solid hsl(200, 100%, 36%);
  border-right: 30px solid hsl(200, 100%, 36%);
  border-left: 30px solid hsl(200, 100%, 36%);
  z-index: 1;
}
.bar-horizontal-green {
  border-top: 30px solid #33bbff;
  border-bottom: 30px solid #33bbff;
  border-right: 8px solid #33bbff;
  border-left: 8px solid #33bbff;
  z-index: 2;
}
.bar-vertical-orange {
  border-top: 8px solid hsl(200, 100%, 36%);
  border-bottom: 8px solid hsl(200, 100%, 36%);
  border-right: 30px solid hsl(200, 100%, 36%);
  border-left: 30px solid hsl(200, 100%, 36%);
  z-index: 1;
}
#titleCont {
  width: 75vw;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  padding: 0 190px;
}

#titleCont h1 {
  margin: 0;
  letter-spacing: 0.75rem;
}

#titleCont hr {
  width: 80%;
  border: 3px solid hsl(185, 25%, 94%);
  border-radius: 3px;
}

#titleWrapper1 {
  display: flex;
  justify-content: left;
}

#titleWrapper2 {
  display: flex;
  justify-content: right;
}

#imgCont {
  background-image: url("imageOfMe.png");
  /* Chosen Image */
  background-color: antiquewhite;
  border-radius: 45%;
  width: 25vw;
  border: none;
  height: 25vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 25px;
  color: hsl(0, 0%, 10%);
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#contactCont {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 30px;
  width: 100vw;
  height: 300px;
  background-color: hsl(0, 0%, 15%);
}

#contactCont a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#contactBtn {
  width: 80%;
  height: 180px;
  border: 10px solid #2a98ce;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: hsl(0, 0%, 20%);
  color: #2a98ce;
  font-size: 5rem;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
}

#contactBtn:hover {
  background-color: #2a98ce33;
  color: hsl(185, 25%, 94%);
  height: 190px;
  width: 82%;
  font-size: 5.1rem;
  box-shadow: 0 0 20px 15px #2a98ce66;
}
@media (width <= 500px) {
  .start-title {
    font-size: 10vw;
  }
  .head1 {
    background-color: hsl(200, 100%, 36%);
    border-bottom-left-radius: 30px;
    flex: 1;
    height: 73px;
  }
  .head2,
  .head3,
  .head4,
  .head5 {
    background-color: hsl(200, 100%, 36%);
    flex: 1;
    border: none;
    height: 73px;
  }
  .title {
    font-size: 2rem;
  }
  #titleCont {
    width: 75vw;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding: 0 22vw;
  }
  #titleWrapper1 {
    justify-content: center;
  }
  #titleWrapper2 {
    justify-content: center;
  }
  #titleCont hr {
    width: 100%;
    text-align: left;
  }
  #mainCont {
    height: 200px;
  }
  #imgCont {
    font-size: 1rem;
    width: 22vw;
    height: 22vw;
    margin: 0;
    border-radius: 25px;
  }
  .outerMost,
  .outer,
  .inner,
  .innerMost {
    position: absolute;
    top: -102px;
    right: -10px;
  }
  .outerMost {
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    border-top: 40px solid #33bbff;
    border-right: 40px solid #33bbff;
    z-index: 1;
  }
  .outer {
    border-bottom: 32px solid transparent;
    border-left: 32px solid transparent;
    border-top: 32px solid hsl(200, 100%, 52%);
    border-right: 32px solid hsl(200, 100%, 52%);
    z-index: 2;
  }
  .inner {
    border-bottom: 24px solid transparent;
    border-left: 24px solid transparent;
    border-top: 24px solid hsl(200, 100%, 44%);
    border-right: 24px solid hsl(200, 100%, 44%);
    z-index: 3;
  }
  .innerMost {
    border-bottom: 16px solid transparent;
    border-left: 16px solid transparent;
    border-top: 16px solid hsl(200, 100%, 36%);
    border-right: 16px solid hsl(200, 100%, 36%);
    z-index: 4;
  }
  #textCont {
    width: 100vw;
  }
  .bar-horizontal-blue {
    border-top-width: 22.5px;
    border-bottom-width: 22.5px;
    border-right-width: 6px;
    border-left-width: 6px;
  }
  .bar-horizontal-green {
    border-top-width: 22.5px;
    border-bottom-width: 22.5px;
    border-right-width: 6px;
    border-left-width: 6px;
  }
  .bar-vertical-red {
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-right-width: 22.5px;
    border-left-width: 22.5px;
  }
  .bar-vertical-orange {
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-right-width: 22.5px;
    border-left-width: 22.5px;
  }
  .downloadBtn {
    padding: 5% 12%;
  }
  #experienceCont h1 {
    font-size: 2rem;
    text-decoration: underline;
  }
  #experienceCont {
    height: auto;
  }
  .projectsCont {
    height: 50vw;
    display: flex;
  }
  #projectsWrapper {
    height: auto;
  }
  #skillsCont {
    height: auto;
  }
  #skillsWrapper {
    height: auto;
    padding-top: 50px;
    width: 100vw;
  }
  #section1,
  #section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 20px;
  }
  #section1 h1 {
    font-size: 1.5rem;
  }
  #section1 p {
    font-size: 1rem;
  }
  #section1 {
    flex: 1;
    width: 95%;
  }
  #section2 {
    flex: 0;
    margin: 0;
  }
  .phoneResponsive {
    display: block;
  }
  .compResponsive {
    display: none;
  }
  #projectsWrapper {
    width: 100vw;
  }
  .container {
    height: auto;
  }
  .card h1 {
    font-size: 2.5rem;
  }
  .card3 h1 {
    font-size: 2.5rem;
  }
  header {
    width: 100vw;
  }
  header h1 {
    font-size: 1.5rem;
  }
  #contactBtn {
    font-weight: bolder;
    font-size: 2rem;
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  #contactBtn:hover {
    font-size: 2.1rem;
  }
  #btnText.display {
    opacity: 1;
    visibility: hidden;
  }
  #projectsBtn:hover {
    width: 50px;
  }
  footer {
    height: auto;
    padding: 0 30px;
  }
}
@media (500px <= width <=1050px) {
  .start-title {
    font-size: 4em;
    text-align: center;
  }
  .head1 {
    background-color: hsl(200, 100%, 36%);
    border-bottom-left-radius: 30px;
    flex: 1;
    height: 73px;
  }
  .head2,
  .head3,
  .head4,
  .head5 {
    background-color: hsl(200, 100%, 36%);
    flex: 1;
    border: none;
    height: 73px;
  }
  .title {
    font-size: 3.5rem;
  }
  #titleCont {
    width: 75vw;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding: 0 22vw;
  }
  #titleWrapper1 {
    justify-content: center;
  }
  #titleWrapper2 {
    justify-content: center;
  }
  #titleCont hr {
    width: 220px;
  }
  #mainCont {
    height: auto;
    padding: 30px 0;
  }
  #imgCont {
    width: 22vw;
    height: 22vw;
    font-size: 1.5rem;
  }
  .outerMost,
  .outer,
  .inner,
  .innerMost {
    position: absolute;
    top: -148px;
    right: 0px;
  }
  #textCont {
    width: 100vw;
  }
  .bar-horizontal-blue {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-right-width: 6.93px;
    border-left-width: 6.93px;
  }
  .bar-horizontal-green {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-right-width: 6.93px;
    border-left-width: 6.93px;
  }
  .bar-vertical-red {
    border-top-width: 6.93px;
    border-bottom-width: 6.93px;
    border-right-width: 26px;
    border-left-width: 26px;
  }
  .bar-vertical-orange {
    border-top-width: 6.93px;
    border-bottom-width: 6.93px;
    border-right-width: 26px;
    border-left-width: 26px;
  }
  .downloadBtn {
    padding: 5% 12%;
  }
  #experienceCont h1 {
    font-size: 2rem;
    text-decoration: underline;
  }
  #experienceCont {
    height: auto;
  }
  .projectsCont {
    height: 50vw;
  }
  #projectsWrapper {
    height: auto;
  }
  #skillsCont {
    height: auto;
  }
  #skillsWrapper {
    height: auto;
    padding-top: 50px;
    width: 100vw;
  }
  #section1,
  #section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 20px;
  }
  #section1 h1 {
    font-size: 2rem;
  }
  #section1 p {
    font-size: 1.5rem;
  }
  #section1 {
    flex: 1;
  }
  #section2 {
    flex: 0;
    margin: 0;
  }
  .phoneResponsive {
    display: block;
  }
  .compResponsive {
    display: none;
  }
  #projectsWrapper {
    width: 100vw;
  }
  .container {
    height: auto;
  }
  .card h1 {
    font-size: 3.5rem;
  }
  .card3 h1 {
    font-size: 3.5rem;
  }
  header {
    width: calc(100vw - 13px);
  }
  header h1 {
    font-size: 1.5rem;
  }
  #contactBtn {
    font-weight: bolder;
    font-size: 2.75rem;
    width: auto;
    padding: 20px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #contactBtn:hover {
    font-size: 2.85rem;
  }
  footer {
    height: auto;
    padding: 0 30px;
  }
}
